{% extends 'layout.html'%}

{% block content %}

<h1 class="fw-semibold">Posts</h1>

{% for post in posts %}

<div class="py-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
            <img  class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}" />
            </div>

            <div class="col-9">
            <h2>{{ post.title }}</h2>
            <p>{{ post.body|striptags|truncatechars:100 }}</p>
            <p>{{post.date|date:'M d Y'}}</p>
            {% with post_id=post.id %}
            <a href="{% url 'blog:post_detail' post_id %}" class="btn btn-primary">View Post</a>
            {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}