{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-black" style="background-image: url('{% static 'backgrounds/cielo.jpg' %}'); background-size: cover; background-position: center;">
    
<div class="col-md-8 my-auto p-4 mb-5">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <div class="card-body my-auto p-4">
        <h2 class="fw-bold fst-italic">¡Hola, soy Paulette Placido!</h2>
            <p> ¡Bienvenid@ a mi espacio digital!
            Soy una apasionada entusiasta del desarrollo
            y la gestión de bases de datos, actualmente inmersa 
            en la emocionante travesía de convertirme en una 
            profesional de backend y experta en bases de datos.</p>
        <h3 class="fst-italic">Mi Travesia</h3>
            <p>- 🎓 Certificado de Desarrollador Profesional Back-End de Meta.
               - 📚 En camino hacia la certificación como Ingeniero de Bases de Datos (7.5 de 9 cursos completados).
               - 💪 Habilidades sólidas en SQL para SQLite, MySQL y SQL Server.
            </p>
        <h3 class="fst-italic">Mi Enfoque</h3>
            <p>Aunque mi viaje profesional está comenzando,
            mi dedicación y amor por el aprendizaje me han 
            llevado a dominar varios aspectos del desarrollo
            y la gestión de datos. Cuento con habilidades sólidas
            en la creación de soluciones backend y estoy emocionada
            por las oportunidades que se presentarán en el mundo 
            de las bases de datos.
            </p>
        <h3 class="fst-italic">Proyectos Destacados</h3>
            <p>Aunque mi experiencia laboral es limitada,
            he aplicado mis conocimientos en diversos proyectos personales, 
            como [menciona un proyecto interesante que hayas realizado]. 
            Estos proyectos me han permitido consolidar mis habilidades
            y aprender de manera práctica.</p>
        <h3 class="fst-italic">¿Por Qué Yo?</h3>
            <p>- 👩‍💻 Apasionada por la resolución de problemas y el diseño de soluciones eficientes.
               - 📈 Comprometida con el aprendizaje continuo y la mejora constante.
               - 🌐 Ansiosa por contribuir al emocionante mundo del desarrollo y las bases de datos.</p>
                        
        <p class="card-text">¡Estoy emocionada por lo que depara el futuro 
            y ansiosa por aplicar mi conocimiento en proyectos desafiantes!                   
            ¡Gracias por visitar mi página y ser parte de mi viaje!</p>
    </div>    
                          
        <h6 class="btn-link fst-italic">Paulette Placido</h6>
    
    
</div>   
</header>
</html>
{% endblock %}